.site_frame>.site_frame_foot,.site_frame>.site_frame_head,.site_frame>.site_frame_main,.site_frame>.site_frame_top {
	zoom:1;
	margin:0 auto
}
.site_frame>.site_frame_foot:after,.site_frame>.site_frame_head:after,.site_frame>.site_frame_main:after,.site_frame>.site_frame_main>.site_frame_wrap:after,.site_frame>.site_frame_top:after {
	font-size:0;
	display:block;
	clear:both;
	overflow:hidden;
	height:0;
	content:'.'
}
.site_frame {
	margin:0 auto
}

.site_frame>.site_frame_main {
	min-width:1200px;
	/* background-color:#f7f9fb */
}
.site_frame>.site_frame_main>.site_frame_wrap {
	zoom:1;
	width:1200px;
	margin:0 auto
}
.site_frame .site_frame_wrap>.site_frame_menus {
	float:left;
	width:190px
}
.site_frame .site_frame_wrap>.site_frame_cont {
	float:right;
	width:990px
}
.site_frame .site_frame_wrap {
	width:1200px;
	margin:0 auto
}
.site_shead {
	min-width:1200px;
	height:160px;
	margin:0 auto;
	border-bottom:3px solid #ff4522;
	background-color:#fff;
	overflow:hidden
}
.site_shead .site_shead_nav_load {
	display:block;
	width:18px;
	height:18px;
	margin:11px auto 0
}
.site_shead .site_shead_nav_load>img {
	float:left;
	width:18px
}
.site_shead .site_shead_wrap {
	width:1200px;
	margin:0 auto
}
.site_shead .site_shead_hdbox {
	height:100px;
	padding-top:10px;
	padding-bottom:10px
}
.site_shead .site_shead_sign {
	float:left;
	overflow:hidden;
	width:190px;
	height:90px;
	margin-right:20px
}
.site_shead .site_shead_sign_link {
	display:block;
	overflow:hidden;
	height:90px
}
.site_shead .site_shead_sign_img {
	float:left;
	width:190px;
	height:90px
}
.site_shead .site_shead_anim {
	float:left;
	width:100px;
	height:66px;
	margin-top:12px;
	margin-right:20px;
	margin-bottom:12px
}
.site_shead .site_shead_anim_link {
	display:block;
	height:66px
}
.site_shead .site_shead_anim_img {
	float:left;
	width:100px;
	height:66px
}
.site_shead .site_shead_search {
	display:none;
	float:left;
	width:555px;
	height:95px;
	margin-top:10px
}
.site_shead .site_shead_search_tab {
	height:25px;
	line-height:25px;
	clear:both;
	overflow:hidden
}
.site_shead .site_shead_search_tab span {
	font-size:12px;
	color:#ff4522;
	width:50px;
	height:25px;
	float:left;
	cursor:pointer;
	text-align:center
}
.site_shead .site_shead_search_tab .site_shead_search_tab_on,.site_shead .site_shead_search_tab .site_shead_search_tab_on:hover {
	background-color:#ff4522;
	color:#fff
}
.site_shead .site_shead_search_tab span:hover {
	background-color:#ffe8e4
}
.site_shead .site_shead_search_hand {
	height:38px;
	border:1px solid #ff4522
}
.site_shead .site_shead_search_drop {
	position:relative;
	float:left;
	width:88px;
	cursor:pointer
}
.site_shead .site_shead_search_drop_type {
	line-height:38px;
	height:38px
}
.site_shead .site_shead_search_drop_txt {
	font-size:14px;
	float:left;
	width:60px;
	height:38px;
	margin-left:4px;
	cursor:pointer;
	text-align:center;
	color:#aaa
}
.site_shead .site_shead_search_drop_icon {
	float:right;
	width:20px;
	height:20px;
	margin-top:9px;
	margin-right:4px;
	/* background-image:url(//scdn.qbcdn.com/web/site/site_shead/site_shead.png); */
	background-repeat:no-repeat;
	background-position:0 0
}
.site_shead .site_shead_search_drop_pop {
	position:absolute;
	top:37px;
	left:-1px;
	display:none;
	width:87px;
	height:38px;
	border:1px solid #ff4522;
	border-top-color:#f5f5f5;
	background-color:#fff
}
.site_shead .site_shead_search_drop_item {
	line-height:38px;
	display:block;
	height:38px;
	padding-right:24px;
	padding-left:4px;
	cursor:pointer;
	text-align:center;
	color:#aaa
}
.site_shead .site_shead_search_drop_item:hover {
	background-color:#ffe6e2
}
.site_shead .site_shead_search_drop_line {
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	zoom:1;
	width:0;
	height:38px;
	border-left:1px solid #f5f5f5
}
.site_shead .site_shead_search_area {
	margin-right:122px;
	padding-right:7px;
	padding-left:7px
}
.site_shead .site_shead_search_input {
	display:block;
	height:28px;
	padding-top:5px;
	padding-bottom:5px
}
.site_shead .site_shead_search_input>input {
	line-height:28px;
	float:left;
	width:100%;
	height:28px;
	color:#222;
	font-size:14px;
	border:none;
	outline:0;
	background-color:#fff
}
.site_shead .site_shead_search_input>input::-webkit-input-placeholder {
	font-size:14px;
	color:#aaa
}
.site_shead .site_shead_search_input>input::-moz-placeholder {
	font-size:14px;
	color:#aaa
}
.site_shead .site_shead_search_input>input::-ms-input-placeholder {
	font-size:14px;
	color:#aaa
}
.site_shead .site_shead_search_btn {
	float:right;
	width:122px;
	height:38px;
	cursor:pointer
}
.site_shead .site_shead_search_link {
	display:block;
	width:122px;
	height:38px;
	cursor:pointer;
	background-color:#ff4522;
	text-align:center;
	line-height:38px;
	color:#fff;
	font-size:16px;
	font-weight:700
}
.site_shead .site_shead_search_link:hover {
	background-color:#ff5838
}
.site_shead .site_shead_search_btn_icon {
	display:block;
	width:38px;
	height:38px;
	/* background-image:url(//scdn.qbcdn.com/web/site/site_shead/site_shead.png); */
	background-repeat:no-repeat;
	background-position:-20px 0
}
.site_shead .site_shead_search_word {
	display:none;
	overflow:hidden;
	height:30px
}
.site_shead .site_shead_search_word_link,.site_shead .site_shead_search_word_spe {
	font-size:12px;
	line-height:30px;
	color:#aaa
}
.site_shead .site_shead_search_word_light {
	color:#fc472e
}
.site_shead .site_shead_search_word_spe {
	color:#ff4521
}
.site_shead .site_shead_cart {
	float:right;
	overflow:hidden;
	width:130px;
	height:40px;
	margin-top:35px;
	padding-right:6px;
	padding-left:6px;
	text-align:center;
	background-color:#f3f5f7
}
.site_shead .site_shead_cart_icon,.site_shead .site_shead_nav_list_icon {
	width:20px;
	/* background-image:url(//scdn.qbcdn.com/web/site/site_shead/site_shead.png); */
	background-repeat:no-repeat
}
.site_shead .site_shead_cart_link {
	display:block;
	height:40px
}
.site_shead .site_shead_cart_icon,.site_shead .site_shead_cart_txt {
	display:inline-block;
	zoom:1;
	height:20px;
	margin-top:10px;
	vertical-align:top
}
.site_shead .site_shead_cart_icon {
	background-position:0 -20px
}
.site_shead .site_shead_cart_txt {
	line-height:20px;
	margin-left:6px
}
.site_shead .site_shead_nav {
	height:40px;
	overflow:hidden
}
.site_shead .site_shead_nav_area {
	float:left;
	height:40px
}
.site_shead .site_shead_nav_list {
	display:none;
	height:40px
}
.site_shead .site_shead_nav_list_item {
	line-height:20px;
	position:relative;
	float:left;
	height:20px;
	padding-top:10px;
	padding-bottom:10px
}
.site_shead .site_shead_nav_list_link {
	font-size:16px;
	line-height:20px;
	display:block;
	height:20px;
	margin-right:10px;
	margin-left:10px;
	padding-right:20px;
	padding-left:20px;
	color:#222
}
.site_shead .site_shead_nav_list_link:hover {
	color:#ff4521
}
.site_shead .site_shead_nav_list_icon {
	position:absolute;
	top:0;
	right:10px;
	height:20px;
	background-position:0 -40px
}
.site_shead .site_shead_nav_atta {
	position:relative;
	bottom:-3px;
	float:right;
	width:170px;
	height:40px;
	/* background-image:url(//scdn.qbcdn.com/web/site/site_shead/site_shead.png); */
	background-repeat:no-repeat;
	background-position:0 -60px
}
.site_shead .site_shead_nav_atta_link {
	display:block;
	height:40px;
	text-indent:-9999px
}
.site_foot .site_foot_focus_item_point,.site_foot .site_foot_sign_icon {
	/* background-image:url(//scdn.qbcdn.com/web/site/site_foot/site_foot.png); */
	background-repeat:no-repeat
}
.site_foot {
	overflow:hidden;
	min-width:1200px;
	height:auto;
	margin:0 auto
}
.site_foot .site_foot_list {
	padding-bottom:30px;
	background-color:#e6e8eb
}
.site_foot .site_foot_atta {
	height:100px;
	padding-top:20px;
	padding-bottom:20px;
	background-color:#e0e2e6
}
.site_foot .site_foot_wrap {
	width:1200px;
	margin:0 auto
}
.site_foot .site_foot_sign {
	height:120px;
	margin:0 auto
}
.site_foot .site_foot_sign_icon {
	float:left;
	width:240px;
	height:40px;
	margin-top:40px;
	background-position:0 0
}
.site_foot .site_foot_abouts {
	height:130px;
	margin:0 auto
}
.site_foot .site_foot_menus {
	float:left;
	height:130px
}
.site_foot .site_foot_menus_item {
	position:relative;
	float:left;
	height:130px;
	padding-right:40px;
	padding-left:40px
}
.site_foot .site_foot_menus_title {
	line-height:30px;
	display:block;
	height:30px;
	text-align:left
}
.site_foot .site_foot_menus_title_txt {
	font-size:14px;
	color:#333949
}
.site_foot .site_foot_menus_line {
	position:absolute;
	top:0;
	right:0;
	width:0;
	height:130px;
	border-left:1px solid #d7d9db
}
.site_foot .site_foot_menus .site_foot_menus_item:first-child {
	padding-left:0
}
.site_foot .site_foot_menus_area {
	float:left;
	overflow:hidden;
	height:88px;
	margin:5px auto 0
}
.site_foot .site_foot_menus_list {
	float:left;
	margin-left:24px
}
.site_foot .site_foot_menus_list:first-child {
	margin-left:0
}
.site_foot .site_foot_menus_list_link {
	font-size:12px;
	line-height:22px;
	display:block;
	height:22px;
	color:#9b9ea4
}
.site_foot .site_foot_menus_list_link:hover {
	color:#333
}
.site_foot .site_foot_ways {
	float:right;
	height:130px
}
.site_foot .site_foot_focus {
	float:left;
	width:200px;
	height:104px;
	margin-right:40px
}
.site_foot .site_foot_focus_title {
	line-height:30px;
	display:block;
	height:30px;
	text-align:left
}
.site_foot .site_foot_focus_list {
	height:66px;
	padding-top:5px
}
.site_foot .site_foot_focus_title_txt {
	font-size:14px;
	color:#333949
}
.site_foot .site_foot_focus_item {
	line-height:22px;
	position:relative;
	float:left;
	width:90px;
	height:22px;
	padding-right:6px
}
.site_foot .site_foot_focus_item_txt {
	line-height:26px;
	position:absolute;
	top:-50px;
	left:80px;
	display:none
}
.site_foot .site_foot_focus_item_pop {
	display:block;
	padding:10px 10px 0;
	text-align:center;
	color:#e5e4d9;
	border-radius:3px;
	background-color:#5d5e5f
}
.site_foot .site_foot_focus_item_word {
	font-size:12px;
	line-height:26px;
	display:block;
	clear:both;
	width:80px;
	height:26px;
	margin:0 auto
}
.site_foot .site_foot_focus_item_point {
	line-height:20px;
	position:absolute;
	top:50px;
	left:-12px;
	display:block;
	width:20px;
	height:20px;
	color:#e5e4d9;
	background-position:-50px -50px
}
.site_foot .site_foot_focus_item_img {
	float:left;
	width:90px;
	height:90px
}
.site_foot .site_foot_focus_item_link {
	font-size:12px;
	line-height:22px;
	display:block;
	height:22px;
	cursor:pointer;
	color:#9b9ea4
}
.site_foot .site_foot_focus_item_link:hover {
	color:#333
}
.site_foot .site_foot_focus_item:hover {
	z-index:1000
}
.site_foot .site_foot_focus_item:hover .site_foot_focus_item_txt {
	display:block
}
.site_foot .site_foot_call {
	float:left;
	margin-right:66px;
	padding-top:20px
}
.site_foot .site_foot_call_num {
	font-size:24px;
	line-height:40px;
	display:block;
	height:40px
}
.site_foot .site_foot_call_mail,.site_foot .site_foot_call_tips {
	font-size:12px;
	line-height:22px;
	display:block;
	height:22px;
	color:#888
}
.site_foot .site_foot_call_tips {
	margin-top:10px
}
.site_foot .site_foot_qrcode {
	position:relative;
	float:left;
	width:220px;
	height:130px;
	border:1px solid #ccc
}
.site_foot .site_foot_qrcode_title {
	font-size:14px;
	line-height:24px;
	position:absolute;
	top:-12px;
	left:0;
	width:100%;
	height:24px;
	text-align:center;
	color:#333949
}
.site_foot .site_foot_qrcode_title_word {
	display:inline-block;
	height:24px;
	padding-right:10px;
	padding-left:10px;
	text-align:center;
	color:#333949;
	background-color:#e6e8eb
}
.site_foot .site_foot_qrcode_item {
	float:left;
	width:100px;
	height:100px;
	margin-top:20px;
	margin-right:5px;
	margin-left:5px
}
.site_foot .site_foot_qrcode_img {
	float:left;
	clear:both;
	width:80px;
	height:80px;
	margin-right:10px;
	margin-left:10px
}
.site_foot .site_foot_qrcode_txt {
	font-size:12px;
	line-height:20px;
	display:block;
	clear:both;
	height:20px;
	text-align:center
}
.site_foot .site_foot_frie {
	overflow:hidden;
	height:18px;
	margin-right:auto;
	margin-left:auto;
	text-align:left
}
.site_foot .site_foot_frie_line {
	float:left;
	overflow:hidden;
	width:0;
	height:12px;
	margin-top:3px;
	margin-right:5px;
	margin-left:5px;
	border-right:1px solid #c6c8cd;
	border-left:1px solid #71757e
}
.site_foot .site_foot_frie_link {
	font-size:12px;
	line-height:18px;
	float:left;
	overflow:hidden;
	height:18px;
	color:#555a66
}
.site_foot .site_foot_copr {
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
	text-align:left
}
.site_foot .site_foot_copr_txt {
	font-size:12px;
	font-weight:500;
	font-style:normal;
	color:#93979e
}
.site_foot .site_foot_copr_txt_link {
	color:#93979e
}
.site_foot .site_foot_report {
	margin:0 auto;
	padding-top:4px;
	padding-bottom:4px;
	text-align:left
}
.site_foot .site_foot_report_link {
	float:left;
	overflow:hidden;
	width:84px;
	height:31px;
	margin-right:1px;
	text-align:left;
	text-indent:-9999px;
	background-image:url(//scdn.qbcdn.com/common/img/cm_report.png);
	background-repeat:no-repeat;
	background-position:-9999px
}
.site_foot .site_foot_report_0 {
	background-position:0 0
}
.site_foot .site_foot_report_1 {
	background-position:-84px 0
}
.site_foot .site_foot_report_2 {
	background-position:-168px 0
}
.site_foot .site_foot_report_3 {
	background-position:-252px 0
}
.site_foot .site_foot_report_4 {
	background-position:-336px 0
}
.site_foot .site_foot_report_5 {
	background-position:-420px 0
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

em, i {
    font-style: normal;
}
